.main-body {
    background-color: dimgray;
    font-family: Roboto;
    width: 100%;
}

.resume-box {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px;
    background-color: #66ccff;
    box-shadow: 0px 0px 6px 1px #66ccff;
    border-radius: 6px;
}

.resume-link {
    text-decoration: none;
    color: black;
}

.divider {
    width: 70%;
    margin: 10px;
    box-shadow: 0px 0px 6px 1px black;
}

.sections, .section-item {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.section-item {
    align-items: center;
}

.section-title {
    color: #66ccff;
    font-size: 40px;
    margin-bottom: 10px;
}

.icon-container {
    display: flex;
    justify-content: center;
}

.icon-item {
    color: #66ccff;
    margin: 10px;
}

.small-footer {
    font-size: 10px;
    position: absolute;
    left: 5px;
    bottom: 0px;
}

.footer {
    width: 100%;
    color: aliceblue;
    background-color: black;
    height: 60px;
    position: fixed;
    left: 0;
    bottom: 0;
    text-align: center;
    box-shadow: 0px -8px 6px 5px black;
}
