.home-page-content {
    display: flex;
    flex-wrap: wrap;
}

.home-page-photo-1, .home-page-photo-2, .home-page-photo-3 {
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-page-photo-1 {
    background-image: url("me_photo.jpg");
    height: 100%;
}

.home-page-photo-2 {
    background-image: url("you_photo.jpg");
    min-height: 400px;
}

.home-page-photo-3 {
    background-image: url("them_photo.jpg");
    min-height: 100%;
}

.home-page-bio-1 {
    color: rgb(36, 36, 36);
    background-color:rgba(255, 255, 255, 0.801);
    top: 40%;
    position: absolute;
    text-align:center;
    padding:20px 50px;
    text-align: justify;
}

.home-page-bio-2 {
    color:rgb(255, 254, 254);
    background-color:rgba(20, 23, 26, 0.836);
    text-align:center;
    padding:20px 50px;
    text-align: justify;
}

.caption {
    position: absolute;
    left: 0;
    top: 20%;
    width: 100%;
    text-align: center;
    color: #000;
}

.caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
}
